BasedOnStyle: Google

IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 110
AccessModifierOffset: -4

PointerAlignment: Right
DerivePointerAlignment: false

AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AllowShortBlocksOnASingleLine: Never
AllowShortFunctionsOnASingleLine: Inline

BinPackArguments: true
BinPackParameters: true

BreakBeforeBinaryOperators: None
BreakBeforeBraces: Attach

SpaceBeforeParens: ControlStatements
SpaceAfterCStyleCast: true
SpacesInParentheses: false
SpacesInSquareBrackets: false
SpacesInAngles: false
SpaceBeforeCpp11BracedList: false

IndentCaseLabels: true
IndentExternBlock: NoIndent

SortIncludes: true
IncludeBlocks: Preserve

MaxEmptyLinesToKeep: 1
KeepEmptyLinesAtTheStartOfBlocks: false

Standard: c++20
